@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    margin: 0 15% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    z-index: 10;

    img {
        width: 5rem;
        height: 5rem;
    }

    ul {
        display: flex;
        list-style: none;
    }

    ul li a {
        padding: 2.35rem 15px;
        text-decoration: none;
        color: black;

        &:hover {
            transition: linear 100ms;
            border-bottom: 5px solid #0c7cec;
            color: #0c7cec;
        }
    }
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    .title {
        position: absolute;
        top: 23.5rem;
        left: 15%;
        padding: 5px 30px;
        background-color: #0c7cec;
        font-size: 30px;
    }

    .containerCards {
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        padding: 1rem 15% 3rem 15%;
    }

    .loadMore {
        margin: 4rem calc(50% - 98px) 0 calc(50% - 98px);
        text-decoration: none;
        color: white;
        background-color: #0c7cec;
        padding: 10px 55px;
        border-radius: 5px;
        font-size: 20px;
    }

    .card {
        width: calc(100% / 6 - 2rem);
        height: 17rem;
        margin: 2rem 1rem;

        img {
            width: 10rem;
            height: 13rem;
        }

        h2 {
            font-weight: lighter;
        }
    }
}

.shopLink {
    background-color: #0c7cec;
}

.listShop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;

    li {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0 15px;
    }

    li img {
        width: 3rem;
        margin: 0 10px;
    }

    li a {
        text-decoration: none;
        color: white;
    }
}

.footerLink {
    position: relative;
    display: flex;
    background-color: black;
    padding: 2rem 15% 2rem 15%;

    .titleLinkFooter {
        color: white;
        margin: 10px 0;
    }

    .listLinkFooter {
        padding: 0 3rem 0 0;
        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: gray;

            &:hover {
                transition: 200ms;
                color: lightgrey;
            }
        }
    }
    .logoBg {
        position: absolute;
        width: 35rem;
        right: 15%;
        top: -10%;
    }
}

.followLinks {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 15% 1rem 15%;
    background-color: black;
    z-index: 10;

    .sign {
        color: white;
        padding: 15px;
        border: #0c7cec solid 1px;
        cursor: pointer;

        &:hover {
            background-color: #0c7cec;
            transition: 200ms;
        }
    }

    .followUs {
        color: #0c7cec;
        padding: 0 1rem;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }

    ul {
        display: flex;
        align-items: center;
    }

    ul li {
        list-style: none;
        margin: 0 5px;
    }
}
